.about {
	background-color: rgb(208, 193, 178);
	background-image: linear-gradient(
			rgba(208, 193, 178, 0.9),
			rgba(208, 193, 178, 0.9)
		),
		url('../assets/images/bg.jpg');
	background-size: cover;
	padding: 1rem;
	color: #48382b;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
    height: 60vh;
    width: 800px;
    margin: 0 auto;
}

.contact {
    text-align: center;
}


.contact h2 {
    font-size: 4rem;
}

.contact p {
    font-size: 2rem;
}
