header {
	height: 10vh;
	background-color: #48382b;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 2rem;
}

header button {
	font-size: 2rem;
	/* font-weight: bold; */
	width: 10rem;
	height: 8rem;
	margin: 0 2rem;
	color: white;
	background-color: transparent;
	border: none;
}

header button:hover {
	background-color: #564335;
}
