header {
	height: 10vh;
	background-color: #48382b;
	display: flex;
	justify-content: center;
	align-items: center;
}

header button {
	font-size: 2rem;
	/* font-weight: bold; */
	width: 12rem;
	height: 10vh;
	color: #9E8675;
	background-color: transparent;
	border: none;
    text-transform: uppercase;
    cursor: pointer;
}

header button:hover {
	background-color: #564335;
}

.active {
    border-bottom: 4px solid#9E8675;
}
