.home {
	height: 80vh;
	background-image: linear-gradient(
			rgba(72, 56, 43, 0.45),
			rgba(72, 56, 43, 0.45)
		),
		url('../assets/images/bg.jpg');
	background-size: cover;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	color: white;
}

.home h1 {
	font-size: 10rem;
	margin: 15vh 0 0;
}

.home p {
	color: #ddd3ca;
	font-size: 3rem;
}
